.tell { 
     border-radius: 20px; 
     background-color: slategrey; 
 } 
 .color{
     background-color: grey;
 }
 .background{ 
     background-color: lavender; 
    font-size: 20px; 
    float: right; 
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
    font-family: Verdana;
    transform-origin: right;
 } 
.page{
    float: right;
}
.a{
    padding: 20px;
    float: right;
    font-size: 20px;
    font-family:Verdana;
    background-color:skyblue;
    border-radius: 45px;
    margin-bottom: 70px;
    padding-inline-end: unset;
}

    .image{
        background-image: url('./image/musium.jpg');
        float:right;
        font-size: 60px;
        image-orientation: unset;
        
    }
h1{
    text-align: left;
    float: unset;
}
.visit{
    border: blue;
    font-display: center;
    padding-bottom: 0px;
    float: left;
    width: 110em;
    height: 80em;
}
.pic{
    width: 300px;
    height: 200px;
    background-image: url(image/kwita\ izina.jpg);
    text-decoration: blue;
    float: inline-start ;

}
.akagera{
    width: 300px;
    height: 200px;
}