.ail {
    border-radius: 20px;
    background-color: slategrey;
}
.background{
    background-color: turquoise;
}

.hero{
    height: 1000px;
    width: 1000px;
    background: url("./image/lakea.jpg");
}
form{
    float:right;
    margin-top: 36px;
    padding-bottom: 60px;
    transform-origin: bottom;
}
a {
    padding: 20px;
    float: inline-start;
    font-size: 20px;
    font-family: verdana;
    background-color: blue;
    border-radius: 35px;
    margin-bottom: 70px;
    background-color: skyblue;
    padding-inline-start: 70px;
}

    .image{
        background-image: url('./image/musium.jpg');
        float:right;
        font-size: 60px;
        image-orientation: unset;
        
    }
    .pic{
        background:"background-image: url(image/pic.jpg)"; 
        width: 300px;
        height: 200px;
    }
h1{
    text-align: left;
    float: inline-end;
}
.visit{
    border: blue;
    font-display: center;
    padding-bottom: 0px;
    float: left;
    width: 110em;
    height: 80em;
}
.akagera{
    width: 450px;
    height: 200px;

}